/* site.css */

/* Algemene body stijlen */
body {
    margin: 0;
    padding: 0;
    background-color: #121212; /* Donkere achtergrondkleur */
    color: #f5f5f5; /* Lichtkleurige tekst */
}

/* Navigatiebalk */
.navbar {
    background-color: #1a1a1a; /* Donkere kleur voor de navbar */
}

.navbar-brand, .nav-link {
    color: #FFA500; /* Oranje kleur voor tekst */
}

    .navbar-brand:hover, .nav-link:hover {
        color: #FFD700; /* Goudkleur bij hover */
    }

/* Footer stijl */
.footer {
    background-color: #1a1a1a; /* Donkere kleur voor de footer */
    color: #FFA500; /* Oranje kleur voor footer tekst */
}

/* Stijlen voor de kaarten */
.card {
    background-color: #444; /* Donkergrijs voor kaarten */
    border: none; /* Geen rand */
    transition: transform 0.2s; /* Smooth transition */
    margin-bottom: 20px; /* Ruimte tussen kaarten */
}

    .card:hover {
        cursor: pointer; /* Cursor veranderen naar pointer bij hover */
        transform: scale(1.05); /* Klein effect bij hover */
    }

.card-body {
    padding: 15px; /* Padding voor de inhoud van de kaart */
}

.card-img-top {
    height: 200px; /* Vaste hoogte voor afbeeldingen */
    object-fit: cover; /* Beeld vullen zonder vervorming */
}

.modal-content {
    background-color: #444; /* Donkergrijs voor modal */
    color: white; /* Witte tekst in modal */
}

/* Specifieke stijlen voor uitverkocht */
.out-of-stock {
    background-color: white; /* Witte achtergrond voor uitverkocht */
    color: red; /* Rode tekst voor uitverkocht */
    text-align: center; /* Centraal uitlijnen */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px; /* Ruimte boven */
}
